@charset "utf-8";
/* CSS Document */

body{
	
	font-family:
	"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic" ;
	}
	

.header-list li{
	list-style:none;
	float:left;
	padding:30px 20px; 
	
	}

.header{
	background-color:#0CC;
	height:80px;
	}

.header-logo{
	font-size:36px;
	float:left;
	padding:20px 40px;
	
	}
	
.main{
	background-color:white;
	padding:100px 80px;
	
	}	
	
	
	h1{
	font-size:50px;	
	color:blue;
	}
	
.contents-item img{
	width:150px;
	height:150px;
	}
	
.contents-item{
	float:left;
	}	
	
	
.footer{
	background-color:#0CC;
	height:80px;

	}

.footer-logo{
	font-size:36px;
	float:left;
	padding:20px 40px;
	}
	
.footer ul{
	float:right;
	}	
	
.footer-list li{
	list-style:none;
	}
